html, body, #demo {
  width: 100%;
  height: 100%;
  color: white;
}
.primary {
  background: rgb(56,121,217);
}
.second {
  background: rgb(108,198,68);
}
.third {
  background: rgb(219,68,55);
}
.fourth {
  background: rgb(125,86,193);
}
.fifth {
  background: rgb(248,167,36);
}
.long-content {
  height: 2000px;
}
