@import '~normalize.css/normalize.css';

html, body, .app, .demo, #demo {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
}
.indicators-wrapper:after {
  display: table;
  content: "";
  clear: both;
}
.indicator {
  border: none;
  outline: none;
  background: transparent;
  float: left;
  height: 46px;
  width: 25%;
}
.deck {
  width: 100%;
  height: calc(100% - 46px);
}

.indicator.current {
  color: white;
  background: rgb(39, 174, 96);
}
.indicator-line {
  position: absolute;
  left: 0;
  width: 25%;
  height: 3px;
  background: red;
  z-index: 2;
}
.deck {
  height: calc(100% - 46px);
}
.metas-ctrls {
  position: absolute;
  height: 40px;
  bottom: 100px;
  left: 0;
  z-index: 40;
  font-size: 26px;
}
.switching-progress {
  transform: translate3d(0,0,0);
  position: fixed;
  bottom: 0;
  -webkit-transform: translate3d(0,0,0);
  will-change: transform;
}

@media screen and (max-width: 600px) {
  .switching-progress {
    display: none;
  }
}

.slideCurrentEntering .entering {
  transform: translate(0,0);
}
.slideCurrent .entered,
.slideCurrent .entering{
  transform: translate(0,0);
}

.entering, .entered {
  color: white;
  font-size: 26px;
  transition: transform 1.4s ease;
  transform: translate(0,160%);
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: red;
}
.enterning {
  float: left;
}
.entered {
  float: right;
}
.first {
  color: #fff;
  background-color: #337ab7;
}
.second {
  background-color: #dff0d8;
}
.third {
  background-color: #d9edf7;
}
.fourth {
  background-color: #fcf8e3;
}
.large-content {
  width: 2000px;
  height: 2000px;
  line-height: 2000px;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  &:hover {
    background-color: #286090;
    border-color: #204d74;
  }
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
		color: #333;
		background-color: #e6e6e6;
    border-color: #adadad;
  }
}
