.deck {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.deck > .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.deck > .slide--current {
  transform: translate3d(0,0,0);
}

.deck--horizontal > .slide--before {
  transform: translate3d(-100%,0,0);
}
.deck--horizontal > .slide--after {
  transform: translate3d(100%,0,0);
}
.deck--vertical > .slide--before {
  transform: translate3d(0,-100%,0);
}
.deck--vertical > .slide--after {
  transform: translate3d(0,100%,0);
}
